.members-main{
    background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.members-second{
    width: 98%;
    margin: 0 auto;
    overflow-x: scroll;
}

.table-headers{
    padding: 0 20px;
}

@media screen and (max-width:978px) {
    .members-main{
        width: 100vw;
    }
    
.members-second{
    width: 98%;
}
}
