.members-main{
    width: calc(100vw - 280px);
    margin-top: 10px;
}

.members-second{
    width: 98%;
    margin: 0 auto;
    overflow-x: scroll;
}

.table-headers{
    padding: 0 20px;
}

@media screen and (max-width:978px) {
    .members-main{
        width: 100vw;
    }
    
.members-second{
    width: 98%;
}
}
